@import "tailwindcss";

@theme {
  --color-primary: #B1121B;
  --color-secondary: #fff;
  --font-serif: "Cormorant Garamond", serif;
}

@layer base {
  body {
    font-family: var(--font-serif);
  }
}